- model_class = Position
- content_for :title do
  %h1= t '.title', :default => model_class.model_name.human

%dl.row
  %dt.col-sm-3= Wallet.human_attribute_name(:name)
  %dd.col-sm-9= position.wallet.name
  %dt.col-sm-3= Stock.human_attribute_name(:symbol)
  %dd.col-sm-9= position.stock.symbol
  %dt.col-sm-3= model_class.human_attribute_name :entry
  %dd.col-sm-9= position.entry
  %dt.col-sm-3= model_class.human_attribute_name :size
  %dd.col-sm-9= position.entry
    

- if policy(position).index?
  = link_to admin_positions_url, class: "btn btn-outline-secondary mx-1" do
    %i.fa-solid.fa-chevron-left
    = t('.back', :default => t("helpers.links.back"))

- if policy(position).edit?
  = link_to edit_admin_position_url(@position), class: "btn btn-primary mx-1" do
    %i.fa-solid.fa-edit
    = t('.edit', :default => t("helpers.links.edit"))
