- model_class = Stock
- content_for :title do
  %h1= t '.title', :default => model_class.model_name.human

%dl.row
  %dt.col-sm-3= model_class.human_attribute_name :name
  %dd.col-sm-9= stock.name
  %dt.col-sm-3= model_class.human_attribute_name :symbol
  %dd.col-sm-9= stock.symbol
  %dt.col-sm-3= model_class.human_attribute_name :api_symbol
  %dd.col-sm-9= stock.api_symbol
  %dt.col-sm-3= model_class.human_attribute_name :price
  %dd.col-sm-9= stock.price
  %dt.col-sm-3= model_class.human_attribute_name :dividend
  %dd.col-sm-9= bool_to_text(stock.dividend)
  %dt.col-sm-3= model_class.human_attribute_name :yield
  %dd.col-sm-9= stock.yield
  %dt.col-sm-3= model_class.human_attribute_name :distribution
  %dd.col-sm-9= stock.translated_distribution
  %dt.col-sm-3= model_class.human_attribute_name :status
  %dd.col-sm-9= stock.status




- if policy(stock).index?
  = link_to admin_stocks_url, class: "btn btn-outline-secondary mx-1" do
    %i.fa-solid.fa-chevron-left
    = t('.back', :default => t("helpers.links.back"))

- if policy(stock).edit?
  = link_to edit_admin_stock_url(@stock), class: "btn btn-primary mx-1" do
    %i.fa-solid.fa-edit
    = t('.edit', :default => t("helpers.links.edit"))
