!!!
%html
  %head
    %title= "Leiva Investing Inc"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "admin", "data-turbo-track": "reload"
    = javascript_include_tag "admin", "data-turbo-track": "reload", defer: true
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css", :rel => "stylesheet"}

  %body
    #wrapper.d-flex
      = render "admin/layouts/sidebar"

      #page-content-wrapper
        = render "admin/layouts/header"


        .p-3
          - if flash[:notice].present?
            .alert.alert-success= flash[:notice]
          - if flash[:warning].present?
            .alert.alert-warning= flash[:warning]
          - if flash[:alert].present?
            .alert.alert-danger= flash[:alert]

          - if content_for? :title
            = content_for :previous_page

            .d-flex.justify-content-between.align-items-center
              = content_for :title
              %div= content_for :title_actions

            %hr.mt-0

          = yield
